.category-card{
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.category-card:hover{
    transform: translateY(-20px);
}


@media (min-width: 320px) and (max-width: 576px){
    .category-card{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}